* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #CDD9FF;
  position: fixed;
}

.nav-content {
  background-color: #7F9EFF;
  min-height: 85vh;
  min-width: 20vw;
  box-shadow: 9px 9px 4px #A7BCFF;
}

.input-form {
  outline: none;
}

.input-form::placeholder {
  padding: 1rem;
}

.btn-trash{
  display: none;
}

.btn-add{
  padding-left: 16vw;
}

.scroll-list {
  height: 83vh;
  overflow-y: scroll;
}

li {
  list-style: none;
}

.list-button {
  border-radius: 5vh;
}

.span-align1 {
  position: relative;
  top: 3px;
}

.span-align2 {
  position: relative;
  bottom: 3px;
  left: 5px;
}

.card-contact {
  box-shadow: 9px 9px 4px #A7BCFF;
}

.icon {
  width: 150px;
  height: 150px;
}

.msg{
  resize: none;
  outline: none;
  border: none;
}

/* .main-content{
    margin-top: 4rem;
    min-width: 75vw;
    height: 88vh;
    background-color: #809EFF;
} */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px #666666; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ededed; 
}